#__nuxt {
    height: 100%;
}

pre {
    padding: 8px !important;
    background: #eee;
}
pre code {
    padding: 8px !important;
    background: #fff !important;
}

.components-panel {
    width: 100%;
    background: #fff;
    padding: 36px 16px;
    background: #eee;
}

.components-panel-inner {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.veb-dark-theme .components-panel{
    background: #212121;
}

.veb-dark-theme  pre {
    background: #212121;
}