$var: ".veb-navigation";
#{$var} {
    height: 100vh;
    width: 340px;
    max-width: 90%;
    @include transition(all 0.2s $animation-fast-out-linear-in-timing-function);
    @include transform(translateX(-100%) translateZ(0));
    @include elevation(0);
    background-color: $color-white;
}

.veb-reveal.enable {
    #{$var} {
        @include transform(translateX(0) translateZ(0));
        @include elevation(2);
    }
}