$animation-fast-out-slow-in-timing-function: cubic-bezier(.4, 0, .2, 1);
$animation-linear-out-slow-in-timing-function: cubic-bezier(0, 0, .2, 1);
$animation-fast-out-linear-in-timing-function: cubic-bezier(.4, 0, 0, 1);