.peper-ripple {
    .ripple-circle {
        display: block;
        position: absolute;
        background: #fff;
        border-radius: 50%;
        opacity: 0.8;
        // z-index: -1;
        z-index: 25;
        @include renderIssue();
        @include transform(translateZ(0));
        @include transition(background $animation-linear-out-slow-in-timing-function 0.6s);
        -webkit-animation: ripple-circle-big 0.35s $animation-linear-out-slow-in-timing-function forwards;
        -moz-animation: ripple-circle-big 0.35s $animation-linear-out-slow-in-timing-function forwards;
        animation: ripple-circle-big 0.35s $animation-linear-out-slow-in-timing-function forwards;
    }
}

@-webkit-keyframes ripple-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes ripple-circle-big {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}

@-moz-keyframes ripple-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes ripple-circle-big {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes ripple-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ripple-circle-big {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}
